<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite">-->
<suite name="Suite" verbose="1" data-provider-thread-count="2">

    <test name="API Automation">
        <classes>
            <class name="runner.Runner"></class>
        </classes>
    </test>
</suite>